body {
    transform: translate(0%);
    padding: 0;
    margin: 0;
  }
  .img-fluid {
    background-size: cover;
  }
  .bg-image {
    display: flex;
    align-content: end;
    flex-wrap: wrap;
  }