




.navbar-nav li a:hover{
    color:orange;
}

.main
{
   
    background: linear-gradient(104.87deg, rgba(255, 140, 5, 0.87) 0%, rgba(255, 0, 0, 0.3) 100%);
   position: absolute;
    
}
.about{
font-family: 'Hind';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 64px;
margin: 20px;
color: #FFFFFF;
}
.about h1
{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 73px;
letter-spacing: 0.1em;
padding-left: 20px;
color: #050505;
}

.mission p
{
    
    font-family: 'Hind';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 64px;
padding-left: 20px;
margin: 20px;
color: #FFFFFF;

}
.mission h2{
    font-family: 'Montserrat';
    margin:0;
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 73px;
letter-spacing: 0.08em;
padding-left: 40px;

color: #050505;

}

.vision
{
    font-family: 'Hind';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 64px;
text-align: right;
margin: 20px;

color: #FFFFFF;

}
.vision h2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 73px;
letter-spacing: 0.08em;

color: #050505;
}
.gallery h2{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.1em;
   margin-bottom: 10px;
   right: 230px;
    color: #000000;
    
}
.gallery
{
    max-width: 60%;
    position: relative;
    left: 280px;
}
.gallery img{
    max-width: 100vw;
}

.ytvideo
{
    position: sticky;
    border: 1px solid #000;
    width: 1200px;
    height: 500px;
    margin:auto;
    margin-top:100px;
    
}

 .ytvideo img
{ 
   
    position: relative;
    left: 730px;
    top: 55px;
}
.ytvideo p{
    font-family: 'Hind';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 64px;
letter-spacing: 0.1em;
position: relative;
bottom: 190px;
padding: 15px;

color: #FFFDFD
}
@media screen and (max-width: 500px){
    .main
{
   max-width:  500px;;
    background: linear-gradient(104.87deg, rgba(255, 140, 5, 0.87) 0%, rgba(255, 0, 0, 0.3) 100%);
   position: absolute;
    
}
.about p{
    font-family: 'Hind';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 32px;
    margin: 10px;
    color: #FFFFFF;
    overflow-x: hidden;
    align-content: center;
    }
    .about h1
    {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 73px;
        letter-spacing: 0.1em;
        
        color: #050505;
        text-align: center;
    }
    
}
