@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Hind");
body {
  transform: translate(0%);
  padding: 0;
  margin: 0;
  background-image: url("images/gallery/Group.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 200px;
  background-attachment: fixed;
}

.bg-image {
  display: flex;
  align-content: end;
  flex-wrap: wrap;
  overflow: hidden;
}

.bannerblog {
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
  margin-left: 20px;
}

.bannerblog h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.125rem;
  color: #ffffff;
}

.bannerblog p {
  font-family: "Hind";
  font-size: 1.5rem;
  padding-left: 0.1em;
  color: #ffffff;
}
.about {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.about img {
  width: 100%;
  max-width: 500px;
  object-fit: scale-down;
  border-radius: 10%;
}
.about p {
  justify-content: center;
  top: 10rem;
  font-size: medium;
}
.aboutcontent {
  padding: 1.5rem;
}
.aboutcontent h1 {
  padding-bottom: 2rem;
  font-weight: 800;
  font-family: "Inria Serif";
}
.aboutcontent p {
  text-align: left;
  font-weight: 430;
  font-size: xx-large;
  line-height: 55px;
}
.mission {
  padding: 1.5rem;
  margin: 2rem;
}
.mission h1 {
  padding-bottom: 2rem;
  font-weight: 800;
  font-family: "Inria Serif";
}
.mission p {
  text-align: left;
  font-weight: 430;
  font-size: xx-large;
  line-height: 55px;
}
.vision {
  padding: 1.5rem;
  text-align: left;
  margin: 2rem;
}
.vision h1 {
  padding-bottom: 2rem;
  font-weight: 800;
  font-family: "Inria Serif";
}
.vision p {
  text-align: left;
  font-weight: 430;
  font-size: xx-large;
  line-height: 55px;
}

/*CAROUSEL*/
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

#recipeCarousel img {
  height: 15rem;
}
.gal h2 {
  font-family: "Inria Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 73px;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  text-align: center;
  color: #050505;
}

/*YOUTUBE */
.boxed {
  border: 0.1rem solid black;
  padding: 2rem;
  margin: 2rem;
}
.boxed h5 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 2rem;
  line-height: 2em;
  color: black;
  letter-spacing: 0.2em;
}
.boxed iframe {
  width: -webkit-fill-available;
  height: 50vh;
}
@media (max-width: 767px) {
  .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .col-md-6 {
    width: 100%;
  }
  .boxed h5 {
    font-size: 1.5rem;
    line-height: 1em;
    font-family: "Hind";
    font-weight: 400;
  }
} /*YOUTUBE END*/
/*awards*/
.awards h2 {
  font-family: "Inria Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 73px;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  text-align: center;
  color: #050505;
}
.awards p {
  font-family: "Hind";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25 em;
  color: black;
}
.awards hr {
  color: black;
}
@media (max-width: 600px) {
  .bannerblog {
    padding: 0;
  }
  .bannerblog h1 {
    font-size: 38px;
  }
  .bannerblog p {
    font-size: 14px;
    text-align: justify;
    word-wrap: break-word;
  }
  .about {
    display: block;
  }

  .ftlink a {
    text-decoration: none;
  }
  .ftlink a:hover {
    color: orangered;
  }
}
/*FOOTER*/
.ftlink a {
  text-decoration: none;
}
