/* Mobile styles */
@media only screen and (max-width: 767px) {
  .vb {
    background-position: center;
  }

  .name {
    margin-top: 1rem;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .align-content-left {
    text-align: justify;
  }
}

/* Tablet and desktop styles */
@media only screen and (min-width: 768px) {
  .vb {
    background-position: bottom;
  }

  .name {
    margin-top: 0;
  }

  .card-title {
    font-size: 2rem;
  }

  .align-content-left {
    text-align: left;
  }
}
