/* Mobile styles */

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Nunito&display=swap');

@media only screen and (max-width: 767px) {
  .vb {
    background-position: center;
  }

  .name {
    margin-top: 1rem;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .align-content-left {
    text-align: justify;
  }
}

/* Tablet and desktop styles */
@media only screen and (min-width: 768px) {
  .vb {
    background-position: bottom;
  }

  .name {
    margin-top: 0;
  }

  .card-title {
    font-size: 2rem;
  }

  .align-content-left {
    text-align: left;
  }
}
.cardtext h5 {
  font-family: "Nunito";
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  text-align: center;
  color: #050505;
}
.cardtext p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #d7d7d7;
  text-align: justify;
}
/*FOOTER*/
.ftlink a {
  text-decoration: none;
}
