@import url("https://fonts.googleapis.com/css?family=Hind");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: black;
  overflow-x: hidden;
}
.carousel-caption {
  text-align: start;
  left: 10%;
}
.text-content {
  font-weight: 300;
  margin-bottom: 1rem;
}
.d-block {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 90vh;
}
.imgdiv {
  height: 90vh;
}

.member {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 200px;
  width: 100%;
  background: linear-gradient(
    225.6deg,
    rgb(67, 0, 0) 29.48%,
    rgb(0, 0, 0) 57.6%
  );
  backdrop-filter: blur(22px);
  text-align: center;
  align-content: center;
}
.member p {
  font-family: "Montserrat";
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 3%;
}
.main h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Montserrat";
  text-align: justify;
}

.about {
  height: fit-content;
  background-color: #fff;
  display: flex;
}
.about p {
  font-family: "Hind";
  font-size: 1.5rem;
  text-align: justify;
}
.absec {
  align-self: end;
  height: 100%;
  content: "";
  width: 50%;
  padding: 3rem 2rem;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Inria Serif";
}
p {
  font-size: 1.15rem;
}
.consec {
  color: #fff;
  padding: 1.5rem;
  text-align: justify;
  position: relative;
  top: -10rem;
}
.logosec {
  display: flex;
  justify-content: center;
  height: min-content;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  align-items: center;
}
.logosec img {
  width: 100%;
  max-width: 500px;
}
button {
  background-color: #f15a25;
  color: #fff;
  font-family: "Hind";

  padding: 0.75em;
  border-width: 0;
  border-radius: 1em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.events {
  width: 100%;
  height: 48.5vw;
  max-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../ASSETS/upcming\ event\ img.png);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.postersec {
  display: flex;
  flex: 3;
  justify-content: end;
  height: 80%;
  padding-right: 10px;
}

.postersec img {
  position: relative;
  height: 100%;
  right: auto;
  padding-top: 5rem;
  object-fit: scale-down;
}
.consec {
  padding-right: 4rem;
  flex: 4;
  height: fit-content;
  word-wrap: break-word;
}
.eventInfo {
  background-color: #fff;
  margin-top: 2rem;
}
.Econtainer {
  display: grid;
  padding: 0 2vw;
  justify-content: center;
}
.eventInfo h1 {
  text-align: center;
  padding: 1rem;
}
.eventB {
  text-align: center;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.blog {
  background-color: #fff;
  padding: 1.5rem;
}
.blog h1 {
  text-align: center;

  font-size: 3rem;
}
.bimg {
  padding: 2rem;
  margin-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.blogp p {
  text-align: justify;
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 1.1rem;
  transform: translate(-50%, -50%);
  font-weight: medium;
  color: #fff;
}

.blogb {
  top: 60%;
  position: absolute;
}

.dcontainer {
  display: flex;
  position: relative;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }
  p {
    font-size: 0.75rem;
  }
  .about p {
    font-size: 0.75rem;
  }
  .member p {
    font-size: 1.25rem;
  }
  .carousel-caption {
    text-align: center;
    left: 15%;
  }

  .eventInfo h1 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
  }
  .Econtainer {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 3.2rem;
  }

  .bimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .blogp p {
    font-size: 0.7rem;
    text-align: justify;
  }
  .consec {
    position: relative;
    top: -7rem;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 675px) {
  .blogb {
    top: 65% !important;
  }
  .blogp {
    top: 45%;
  }
  .bimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
@media screen and(max-width:900px) {
  .blogp p {
    font-size: 0.65rem;
  }
  .blogb {
    top: 70% !important;
  }
}
/*BUTTON*/
.btn-2 {
  flex: 1 1 auto;
  background-image: linear-gradient(
    225.6deg,
    #ff1f92 0%,
    #ff5f1f 51%,
    #ffd61f 100%
  );
  padding: 0.7rem;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
}
.btn {
  flex: 1 1 auto;
  margin: 1rem;
  padding: 0.7rem;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
}
.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(
    225.6deg,
    #ff1f92 0%,
    #ff5f1f 51%,
    #ffd61f 100%
  );
}
