/*NAV */
.navlc {
  padding-left: 750px;
  padding-right: 0px;
  margin-right: 0px;
}
.navlc li {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 600px) {
  .navlc {
    padding-left: 0px !important;
  }
}
/*NAV END*/
