/*NAV */

.navbar-nav li a:hover{
  color:orange;
}

.navlc li {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 600px) {
  .navlc {
    padding-left: 0px !important;
  }
}
/*NAV END*/
body::-webkit-scrollbar{
  width:0 ;
}