@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Hind");
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Nunito&display=swap');
body {
  transform: translate(0%);
}
.dropdown-item.active {
  background-color: #FFFF; /* Set the background color for active option */
  color: #FFFFFF; /* Set the text color for active option */
}

.mainheading {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 1.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
  font-family: "Nunito";
}
img {
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-size: 1.5rem;
  padding-top: 0.5em;
}
.subhead {
  text-align: center;
  padding-bottom: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;

  color: #555555;
}

.heading2 {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 73px;
  text-align: center;
  color: #555555;
  font-family: "Nunito";
}
.title {
  text-align: center;
}
.proffesional {
  width: 95%;
  height: min-content;
  margin-left: 10px;
  padding-left: 30px;
  position: relative;
  left: 5px;
}
.student-team1 {
  width: 100%;
  margin-left: 10px;
  padding-left: 30px;
  position: relative;
  left: 5px;
}
.student-team2 {
  width: 95%;
  margin-left: 10px;
  padding-left: 30px;
  position: relative;
  left: 5px;
}
.student-team3 {
  width: 95%;
  margin-left: 10px;
  padding-left: 30px;
  position: relative;
  left: 5px;
}
/*FOOTER*/
.ftlink a {
  text-decoration: none;
}
